@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  overflow-x: hidden;
  height: 300vh;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  background: #090909;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  z-index: 10;
}

.brand {
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin-left: 30px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}

.brand:hover {
  color: red;
}

ul {
  margin-right: 30px;
  z-index: 1;
}

ul li {
  display: inline-block;
  color: #fff;
  margin: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

li:hover {
  color: red;
}

.icon {
  font-size: 25px;
  color: white;
  display: none;
  margin-right: 30px;
  cursor: pointer;
}

.home-container {
  display: flex;
  align-items: center;
  height: 90vh;
  position: relative;
  z-index: -10;
  transition: left 1s ease;
  /* left: 40; */
}

.text-container {
  margin-left: 15rem;
}

.heading {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 100px;
}

.heading span {
  color: red;
}

.full-name {
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 20px 0;
}

.full-name span {
  color: red;
}

.home-skill-heading {
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}

.container {
  position: absolute;
  width: 100%;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  position: relative;
  transition: all ease 1s;
}

.about-me-para {
  width: 40rem;
  margin-left: 150px;
  position: relative;
  transition: all ease 1s;
}

.contact-information {
  margin-right: 150px;
}

.about-me-heading {
  color: white;
  font-family: "Kanit", sans-serif;
  margin-bottom: 20px;
  font-size: 40px;
}

.about-me {
  color: white;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  line-height: 40px;
}

.contact-information {
  position: relative;
  transition: all ease 1s;
}

.contact-heading {
  color: white;
  font-family: "Kanit", sans-serif;
  margin-bottom: 20px;
  font-size: 40px;
}

.mail {
  color: white;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  line-height: 40px;
  margin-bottom: 20px;
}

.phone-number {
  color: white;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  line-height: 40px;
}

.skills-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

.image-container {
  margin-left: 150px;
}

.languages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 150px;
}

.languages-container h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Website-image {
  width: 700px;
  border-radius: 20px;
  box-shadow: rgb(108, 108, 108) 0px 0px 100px 20px;
}

.Mobile-image {
  width: 200px;
  margin-bottom: -80px;
  margin-left: -120px;
}

.language img {
  width: 80px;
}

.language p {
  color: white;
  font-family: "Kanit", sans-serif;
  vertical-align: bottom;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0;
}

.middle {
  margin: 0 40px;
}

.image-container {
  position: relative;
  transition: all ease 1s;
}

.languages-container {
  position: relative;
  transition: all ease 1s;
}

@media only screen and (max-width: 940px) {
  .home-container,
  .languages-container,
  .image-container,
  .contact-information,
  .about-me-para {
    position: static;
  }

  .about-me-para {
    width: 70%;
  }

  .about-me-para {
    margin-left: 0px;
  }

  .about-container {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .contact-information {
    margin-right: 0;
    margin-top: 100px;
  }

  .skills-container {
    flex-direction: column;
    justify-content: center;
  }

  .image-container {
    margin-left: 0px;
    margin-top: 20rem;
  }

  .languages-container {
    margin-right: 0px;
    margin-top: 220px;
  }

  .Website-image {
    width: 500px;
  }

  body {
    width: 100%;
    overflow-x: hidden;
  }

  .brand {
    font-size: 25px;
    margin-left: 16px;
  }

  .icon {
    display: block;
  }

  nav {
    z-index: 100;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background: #090909;
    z-index: -1;
    transition: all ease 1s;
    z-index: 10;
  }

  li {
    display: block;
    line-height: 200px;
  }
  .text-container {
    margin-left: 6rem;
    z-index: 1;
  }

  .container {
    position: none;
  }
}

@media only screen and (max-width: 610px) {
  .home-container {
    justify-content: center;
  }
  .text-container {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .heading {
    font-size: 65px;
  }

  .full-name {
    font-size: 30px;
  }

  .about-me-para {
    width: 90%;
  }

  .about-me-heading {
    font-size: 30px;
  }

  .about-me {
    font-size: 20px;
  }

  .contact-heading {
    font-size: 30px;
    text-align: center;
  }

  .Website-image {
    width: 400px;
  }

  .Mobile-image {
    width: 150px;
  }

  .mail {
    text-align: center;
  }

  .phone-number {
    text-align: center;
  }
}
